.callFlex{
    display: flex;
}

.bottom{
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1.5rem;
    cursor: pointer;
}

.bottom:hover{
    background: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  
  }

  .space{
    display: flex;
    place-content: space-between;
    padding-left: 1rem;
    padding-bottom: -1.5rem;
    margin-top: -2.5rem;
    padding-right: 1rem;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}